            caption {
                  font-size:3vw;color:red;
            }
            td {
                  width: 1%; height:2px; text-align:center;
            }
            sub {
                  font-size:1.2vw;
            }
            sup {
                  font-size:1.2vw;
            }
            body {
                  background-image:url("http://d6tyme2e5lia9.cloudfront.net/wcms/img/hotel-de-la-motte-picquet-paris-tour-eiffel-sizel-974-1600-800.jpg");
            }

            .elem_font {
                  font-size:1.2vw;
            }
            .nonmetals {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .metalloids {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .gazes_nbl {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .alkali_metal {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .alkaline_metal {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .halogenes {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .transition_metal {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .lanthanoids {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .actinoids {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .inconnu {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .other_mtls {
                  font-size:1vw; background-color:white; border:solid 1px black;
            }
            .subd {
                  text-align:left; font-size:1.1vw;
            }
            .supd {
                  text-align:right; font-size:1.1vw;
            }
